<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SGOv3DBConnection" connectionString="Data Source=192.168.15.31;Initial Catalog=v201906.3_LOGA_SGO_V3;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=LOGA_SGO_V3" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>